body{
    background-color: black;
}
h1{
    color: rgb(44, 168, 174);
    text-align: center;
    font-style: oblique;
    font-size: 40px;
}
p{
    color: rgb(213, 138, 39);
    font-size: 20px;
}
ol{
    color: white;
    font-size: 15px;
}
ul{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.get{
    color: rgb(255, 255, 255);
  }
 button{
    background-color: rgb(56, 162, 125);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5%;
 }
    button:hover{
        background-color: rgb(56, 113, 162);
        color: white;
        font-size: 10px;
        border-radius: 5px;
        padding: 5px;
    }
    .habit-list{
        background-color: rgb(151, 162, 56);
        color: white;
        font-size: 15px;
        border-radius: 5px;
        padding: 5px;
        text-decoration: cadetblue underline;
    }
    input{
        border-radius: 5px;
        padding: 5px;
        margin-left: 5%;
    }
.clock {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 1.5em;
      font-family: "Courier New", monospace;
      background: white;
      color: rgb(0, 0, 0);
      padding: 5px 12px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);

    }


